# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon

# React Native & Node.js
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
.pnp
.pnp.js

# CocoaPods
Pods/

# Xcode
build/
DerivedData/
*.hmap
*.ipa
*.xcarchive
# Configuraciones de usuario (no compartas tus preferencias de pantalla con el equipo)
xcuserdata/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xccheckout
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/

# Binary
*.xcframework
RNSDKWrapper/main.jsbundle
RNSDKWrapper/assets/